<section class="section">
    <div class="container about-us">
        <h2>We Care About Your Pets And Their Well-Being</h2>
        <p>Happy Paw is an online store that offers goods for your pets: cats and dogs, fish, rabbits, birds, and many other animals. </p>
        <p>We sell pet food, supplies, clothes, and different products by the best American and European manufacturers. We are pet lovers, just like you, and pick only the best and high-quality goods:</p>
        <circle xmlns="http://www.w3.org/2000/svg" cx="11" cy="45" r="11" fill="#FBD6BF"/>
        <div>
        <ul>
            <li>hypoallergenic dry and wet food;</li>        
            <li>safe and long-lasting toys;</li>    
            <li>bedding, beds, and cages;</li>   
            <li>aquariums, tanks, and accessories</li>   
            <li>clothes, collars, and harnesses</li>
        </ul>
        </div>
    </div>
 </section>