<section class="section">
    <div class="container about-us">
        <img class="cat__parrot" src="./img/statistics.png" alt="parot and cat"> 
        <h2 class="about__title">We Care About Your Pets And Their Well-Being</h2>
        <img class="bone__about" src="./img/bone_between_dots.svg" alt="decorative bone">
        <p class="top__paragraph">
            Happy Paw is an online store that offers goods for your pets: cats and     
            dogs, fish, rabbits, birds, and many other animals. 
        </p>
                <p class="bottom__paragraph">
                   We sell pet food, supplies, clothes, and different products by the best American
                   and European manufacturers. We are pet lovers, just like you, and pick only the
                   best and high-quality goods:
                </p>
        <div>
             <ul class="about__us__list">
                <li>hypoallergenic dry and wet food;</li>        
                <li>safe and long-lasting toys;</li>    
                <li>bedding, beds, and cages;</li>   
                <li>aquariums, tanks, and accessories</li>   
                <li>clothes, collars, and harnesses</li>
             </ul>
        </div>
    </div>
    <div>
        <div>
            <img class="about__van" src="./icons/van.svg" alt="van picture">
            <h3>Free Shipping</h3>
            <p>Free shipping on all orders.</p>
        </div>
        <div>
            <img class="about__box" src="./icons/return-box.svg" alt="return box">
            <h3>10-Day Returns</h3>
            <p>Contact us for a return.</p>
        </div>
        <div>
            <img class="about__card" src="./icons/credit-card.svg" alt="cridit img">
            <h3>Secure Payment</h3>
            <p>We accept Visa and MasterCard.</p>
        </div>
        <div>
            <img class="about__headphone" src="./icons/headphone.svg" alt="headphone">
            <h3>Online Support</h3>
            <h3>We are always here to help.</h3>
        </div>
    </div>
 </section>