
<div class="global__advertisments">
  <div class =container>
<div class="advertisments">
  <div class="ads__fishes">
    <span class="card__title">Save <br>10%<br> on aquarium</span>
    <span><a href="#" class="card__fishlink-button">Discover Now</a> </span>
  </div>
  <div class="ads__goods_card">
    <h3 class="card__goods-offer">TOYS, TREATS & LEASHES</h3>
    <p class="card__text">Best Picks for Your Pets</p>
    <p class="card__text-price">from $1.99</p>
    <a href="#" class="card__goodslink button">Learn More</a>
  </div>
</div>
<div class="pet-food__carousel">
  <div class="carousel_goods_slides">
    <img src="img/applaws.png" alt="AllPaws" />
    <img src="img/tigerino.png" alt="Tigerino" />
    <img src="img/gourmet.png" alt="Gourmet" />
    <img src="img/felix.png" alt="Felix" />
    <img src="img/purizon.png" alt="Purizon" />
    <img src="img/rocco.png" alt="Rocco" />
    <img src="img/dokas.png" alt="Dokas" />
  </div>
</div>
</div>
</div>
