<div class="ads">
  <div class="ads__fish card">
    <span class="card__title">Save 10% on aquarium</spanп>
    <span><a href="#" class="card__fishlink-button">Discover Now</a> </spangit>
  </div>
  <div class="ads__goods card">
    <h3 class="card__goods-title">TOYS, TREATS & LEASHES</h3>
    <p class="card__text">Best Picks for Your Pets</p>
    <p class="card__text-price">from $1.99</p>
    <a href="#" class="card__goodslink button">Learn More</a>
  </div>
</div>
<div class="pet-food__carousel carousel">
  <div class="carousel__slide">
    <img src="img/allpaws.png" alt="AllPaws" />
    <img src="img/tigerino.png" alt="Tigerino" />
    <img src="img/gourmet.png" alt="Gourmet" />
    <img src="img/felix.png" alt="Felix" />
    <img src="img/purizon.png" alt="Purizon" />
    <img src="img/rocco.png" alt="Rocco" />
    <img src="img/dokas.png" alt="Dokas" />
  </div>
</div>
