<div class="global__advertisments">
  <div class = "container">
<div class="advertisments"> 
  <div class="ads__fishes">
    <span class="card__title">Save <span class = "percentage_text">10%</span> on <br class ="aquarium">Aquariums</br></span>
    <span><a href="#" class="card__fishlink-button">Discover Now</a> </span>
  </div>
  <div class="ads__goods_card">
    <h3 class="card__goods-offer">TOYS, TREATS & LEASHES</h3>
    <p class="card__text">Best Picks for <br class = "petstxt">Your Pets</br></p>
    <p class="card__text-price">from <span class = "pricecolor">$1.99</span></p>
    <a href="#" class="card__goodslink button">Learn More</a>
  </div>
</div>
<div class="pet-food__carousel">

    <button class="pet-food__arrow-left">
      <img src="icons/arrow_left.svg" alt="Arrow left" />
    </button>

    <div class="pet-food__carousel_slide">
        <div id = "pet-food_f" class="pet-food__carousel_slide_img">
          <img src="img/applaws.png" alt="AllPaws" />
        </div>
        <div class="pet-food__carousel_slide_img">
          <img src="img/tigerino.png" alt="Tigerino" />
          
        </div>
        <div class="pet-food__carousel_slide_img">
          <img src="img/gourmet.png" alt="Gourmet" />
          
        </div>
        <div class="pet-food__carousel_slide_img">
          <img src="img/felix.png" alt="Felix" />
          
        </div>
        <div class="pet-food__carousel_slide_img">
          <img src="img/purizon.png" alt="Purizon" />
          
        </div>
        <div class="pet-food__carousel_slide_img">
          <img src="img/rocco.png" alt="Rocco" />      
        </div>
        <div id = "pet-food_l" class="pet-food__carousel_slide_img hide">
          <img src="img/dokas.png" alt="Dokas" /> 
        </div>

    </div>

    <button class="pet-food__arrow-right">
      <img src="icons/arrow_right.svg" alt="Arrow right" />
    </button>

  <script src="js/advertisments.js"></script>

</div>
</div>
</div>