<section class="cat-week">
  <div class="container">
    <div class="cat-week__info info">
      <span class="info_promotion">PROMOTION</span>
      <h2 class="info_finaly-here">Cat Week Is Finally Here!</h2>
      <p class="info_specisl-price">
        Don't miss special prices on products for cats: beds, litter boxes,
        feeders, and much more. Enjoy up to
        <span class="sale">-30%</span> on selected items!
      </p>
    </div>
    <div class="cat-week__timer">
      <div class="timer">
        <div class="days-container">
          <div class="days"></div>
          <div class="days-label">days</div>
        </div>

        <div class="hours-container">
          <div class="hours"></div>
          <div class="hours-label">hours</div>
        </div>

        <div class="minutes-container">
          <div class="minutes"></div>
          <div class="minutes-label">minutes</div>
        </div>

        <div class="seconds-container">
          <div class="seconds"></div>
          <div class="seconds-label">seconds</div>
        </div>
      </div>

      <a href="#" class="shop_button">Shop Now</a>
    </div>
  </div>
</section>
