<section class="cat-week">
  <div class="container">
    <div class="cat-week__info info">
      <span class="info_promotion">PROMOTION</span>
      <h2 class="info_finaly-here">Cat Week Is Finally Here!</h2>
      <p class="info_specisl-price">
        Don't miss special prices on products for cats: beds, litter boxes,
        feeders, and much more. Enjoy up to
        <span class="sale">-30%</span> on selected items!
      </p>
    </div>
    <div class="cat-week__timer">
        <div class="timer">
          <div class="timer-item">
              <p class="value">00</p>
              <p class="label">Days</p>
          </div>
          <div class="timer-item">
              <p class="value">00</p>
              <p class="label">Hours</p>
          </div>
          <div class="timer-item">
              <p class="value">00</p>
              <p class="label">Minutes</p>
          </div>
          <div class="timer-item">
              <p class="value">00</p>
              <p class="label">Seconds</p>
          </div>
        </div>
    </div>
    <div class="cat-week__button">
      <a href="#recommendation" class="shop-now_button">Shop Now</a>
    </div>
  </div>
</section>
