<section class="section examples-section">
  <div class="container">
    <h6 class="examples-title">Dry Food & Treats</h6>
    <img class="examples-section__bone-image" src="img/bone_between_dots.svg" alt="Bone">
    <p class="examples-undertitle">
      Great well-balanced dry and canned food for your pets by the best
      producers.
    </p>
    <div class="food-container">
      <div class="food-container__item">
        <h6 class="food-container__item_title">For Dogs</h6>
        <ul class="food-container__item-list">
          <li class="food-container__item-list-unit">
            <img src="img/natural-beef.jpg" alt="natural-beef" />
            <div>
              <h6>Natural Beef <span class="food-container__price">$2</span></h6>
              <p>Meat And Bone Meal, Corn Gluten Meal, Animal Fat, Soybean Meal, Natural Flavor.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/natural-chicken.jpg" alt="natural-chicken" />
            <div>
              <h6>Natural Chicken <span class="food-container__price">$3</span></h6>
              <p>Deboned Chicken, Chicken Meal, Brown Rice, Corn, Corn Gluten Meal, Natural Flavor.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/natural-pork.jpg" alt="natural-pork" />
            <div>
              <h6>Natural Pork <span class="food-container__price">$2</span></h6>
              <p>Deboned Lamb, Chicken Meal, Split Peas, Lentils, Chicken Fat, Pork Meal, Dried Chicken, Pea.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="food-container__item">
        <h6 class="food-container__item_title">For Cats</h6>
        <ul class="food-container__item-list">
          <li class="food-container__item-list-unit">
            <img src="img/turkey-pate.jpg" alt="natural-beef" />
            <div>
              <h6>Turkey Pate <span class="food-container__price">$1</span></h6>
              <p>Deboned Turkey, Turkey Broth, Turkey Liver, Dried Egg Product, Cranberries, Calcium Carbonate.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/tuna-and-salmon.jpg" alt="natural-beef" />
            <div>
              <h6>Tuna & Salmon <span class="food-container__price">$2</span></h6>
              <p>Chicken, Poultry Broth, Liver, Meat By-Products, Salmon, Tuna, Guar Gum, Minerals.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/chicken-slice.jpg" alt="natural-beef" />
            <div>
              <h6>Chicken Slice <span class="food-container__price">$1</span></h6>
              <p>Wheat Gluten, Liver, Chicken, Meat By-Products, Tomatoes, Carrots, Shrimp, Soy Flour, Salt.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="food-container__item">
        <h6 class="food-container__item_title">Other</h6>
        <ul class="food-container__item-list">
          <li class="food-container__item-list-unit">
            <img src="img/grain-and-nuts.jpg" alt="natural-beef" />
            <div>
              <h6>Grain & Nuts <span class="food-container__price">$3</span></h6>
              <p>Whole Brown Rice, Oat Groats, Wheat Bran, Wheat, Soybean Meal, Soybean Hulls.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/fish-food.jpg" alt="natural-beef" />
            <div>
              <h6>Fish Food <span class="food-container__price">$5</span></h6>
              <p>Dried Yeast, Ground Brown Rice, Shrimp Meal, Dried Fish Protein Digest, Wheat Gluten.</p>
            </div>
          </li>
          <li class="food-container__item-list-unit">
            <img src="img/parrots-food.jpg" alt="natural-beef" />
            <div>
              <h6>Parrots Food <span class="food-container__price">$7</span></h6>
              <p>Canary Grass Seed, White Millet, Oat Groats, Ground Corn, Red Millet, Flax Seed.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>