<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Store Happy paw</title>
    <link rel="shortcut icon" href="icons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" />
</head>

<body>
    <header data-include="./partials/header.partial.html"></header>
    <main>
        <div>
            <img class="test" src="img/bone_between_dots.svg" alt="Bone">
            <p>In stock</p>
            <p>VITALIFE Crunch Sticks Treat (2321)</p>
            <p>Product code 51</p>
            <p>$5.00</p>
            <div class="wrapper">
                <a href="#" class="add-btn">
                    <span class="add-btn__text">Add to Cart</span>
                </a>
            </div>
            <p>Description</p>
            <p>Treat your hamster or rabbit to a crunchy baked treat stick. It is made with seeds, whole grains,
                vitamins, and extra calcium. Support your pet's healthy teeth! </p>
        </div>
    </main>
    <footer>
        <!--
        <div data-include="./partials/oleksandr-karhopoltsev.partial.html"></div>
        -->
    </footer>
    <script src="./js/html-data-include.js"></script>
</body>

</html>