<section class="section new-arrivals">
    <div class="container">
        <h1 class="new-arrivals__title">Our New Arrivals</h1>
        <img class="examples-section__bone-image bone-image" src="img/bone_between_dots.svg" alt="Bone">
        <h2 class="new-arrivals__subtitle">We offer affordable and safe toys and accessories for your pets.</h2>
        <div class="new-arrivals_carousel carousel">
            <div class="new-arrivals__slide">
                <img src="img/new_arrival_sticks.jpg" alt="VITALIFE Crunch Sticks Treat">
                <h3>VITALIFE Crunch Sticks Treat</h3>
                <h4>$5.00</h4>
                <div class="wrapper">
                    <a href="#" class="add-btn">
                        <span class="add-btn__text">Add to Cart</span>
                    </a>
                </div>
            </div>
            <div class="new-arrivals__slide">
                <img src="img/new_arrival_toy.jpg" alt="DUNA Woven Toy">
                <h3>DUNA Woven Toy</h3>
                <h4>$1.50</h4>
                <div class="wrapper">
                    <a href="#" class="add-btn">
                        <span class="add-btn__text">Add to Cart</span>
                    </a>
                </div>
            </div>
            <div class="new-arrivals__slide">
                <img src="img/new_arrival_leash.jpg" alt="SERA Woven Leash">
                <h3>SERA Woven Leash</h3>
                <h4>$2.00</h4>
                <div class="wrapper">
                    <a href="#" class="add-btn">
                        <span class="add-btn__text">Add to Cart</span>
                    </a>
                </div>
            </div>
            <div class="new-arrivals__slide">
                <img src="img/new_arrival_bowl.jpg" alt="OPTY Plastic Bowl">
                <h3>OPTY Plastic Bowl</h3>
                <h4>$3.00</h4>
                <div class="wrapper">
                    <a href="#" class="add-btn">
                        <span class="add-btn__text">Add to Cart</span>
                    </a>
                </div>
            </div>
            <div class="new-arrivals__slide">
                <img src="img/new_arrival_butterfly.jpg" alt="EGO Butterfly Toy">
                <h3>EGO Butterfly Toy</h3>
                <h4>$2.00</h4>
                <div class="wrapper">
                    <a href="#" class="add-btn">
                        <span class="add-btn__text">Add to Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>