<section class="new-arrivals">
    <h2 class="new-arrivals__title">Our New Arrivals</h2>
    <p class="new-arrivals__subtitle">We offer affordable and safe toys and accessories for your pets.</p>
    <div class="new-arrivals_carousel carousel">
        <div class="new-arrivals__slide">
            <img src="img/new_arrival_sticks.png" alt="VITALIFE Crunch Sticks Treat">
            <p>VITALIFE Crunch Sticks Treat</p>
            <p>$5.00</p>
        </div>
        <div class="new-arrivals__slide">
            <img src="img/new_arrival_toy.png" alt="DUNA Woven Toy">
            <p>DUNA Woven Toy</p>
            <p>$1.50</p>
        </div>
        <div class="new-arrivals__slide">
            <img src="img/new_arrival_leash.png" alt="SERA Woven Leash">
            <p>SERA Woven Leash</p>
            <p>$2.00</p>
        </div>
        <div class="new-arrivals__slide">
            <img src="img/new_arrival_bowl.png" alt="OPTY Plastic Bowl">
            <p>OPTY Plastic Bowl</p>
            <p>$3.00</p>
        </div>
        <div class="new-arrivals__slide">
            <img src="img/new_arrival_butterfly.png" alt="EGO Butterfly Toy">
            <p>EGO Butterfly Toy</p>
            <p>$2.00</p>
        </div>
    </div>
</section>