<section class="our-news-and-articles">
    <div class="our-news-and-articles__header">
        <h2 class="our-news-and-articles__title">Our News & Articles</h2>
        <img src="./img/bone_between_dots.svg" alt="a decorative bone" />
        <p>
            Everything you need to know about caring for your pet.
        </p>
    </div>
    <div class="select-aquarium">
        <img src="./img/aquarium.jpg" alt="mother and her son are choosing the aquarium">
        <h3>How to Select an Aquarium?</h3>
        <p>Our experts tell how to select your first aquarium and why a big tank doesn't mean a good one.</p>
        <div class="select-aquarium__btn"></div>
    </div>
    <div class="picking-feeder">
        <img src="./img/choosing-feeder.jpg" alt="women is choosing a new feeder">
        <h3>Picking the Right Feeder</h3>
        <p>How to choose a perfect bowl for your pet to eat safely and comfortably?</p>
        <div class="picking-feeder__btn"></div>
    </div>
    <div class="adopt-rabbit">
        <img src="./img/adopt-rabbit.jpg" alt="child is holding a rabbit">
        <h3>Are You Ready to Adopt a Rabbit?</h3>
        <p>Let's check what you really know about rabbits and how to care for them at home.</p>
        <div class="adopt-rabbit__btn"></div>
    </div>
</section>