<section class="section">
  <div class="container">  
    <div class="banners">
      <div class="banners__food card">
        <img src = 'img/bg_food_for_pets.jpg' alt="Pets Food" >
        <p class="carrd__text">BUTCHERS, ROYAL CANIN, PEDIGREE</p>
        <h2 class="card__title">Best-Quality</h2> 
        <h2 class="card__title">Foods for Pets</h2>  
        <a href="#" class="card__link button">Buy Now</a>
      </div>
      <div class="banners__discount card" >
        <img src = 'img/bg_cats_dog_stuff.jpg' >
        <p class="card__title">Get 10% Off for Cats & Dogs Stuff</p>
        <a href="#" class="card__link button">See Products</a>
      </div>
    </div>

    <section class="products-for-pets">
      <h2 class="products-for-pets__title">Any Products for Any Pets</h2>
      <img src="img/bone_between_dots.svg" alt="Pink Bone" />
      <p class="products-for-pets__text">
        Best picks for your beloved companions only in Happy Paw.
      </p>
      <div class="products-for-pets__carousel carousel">
        <div class="carousel__slide">
          <img src="img/product-carousel-cat.jpg" alt="Cat" />
          <h3 class="carousel__slide__title">For Cats</h3>
          <p class="carousel__slide__text">
            Dry Food • Wet Food • Treats • Catnip &amp; Grass • Litter Boxes • Bowls
            &amp; Feeders • Toys • Beds •
          </p>
        </div>
        <div class="carousel__slide" >
          <img src="img/product-carousel-dog.jpg" alt="Dog" />
          <h3 class="carousel__slide__title">For Dogs</h3>
          <p class="carousel__slide__text">
            Dry &amp; Canned Food • Jerky • Chewy Treats • Bowls • Toys • Collars
            and Leashes • Clothes •
          </p>
        </div>
        <div class="carousel__slide">
          <img src="img/product-carousel-parrot.jpg" alt="Parrot" />
          <h3 class="carousel__slide__title">For Parrots</h3>
          <p class="carousel__slide__text">
            Food • Treats • Cages &amp; Stands • Vitamins • Bowls &amp; Feeders •
            Litter &amp; Nesting • Odor Control •
          </p>
        </div>
        <div class="carousel__slide">
          <img src="img/product-carousel-rabbit.jpg" alt="Rabbit" />
          <h3 class="carousel__slide__title">For Rabbits</h3>
          <p class="carousel__slide__text">
            Dry &amp; Food • Treats • Hay • Cages • Litter &amp; Bedding • Harnesses
            • Toys • Odor Removers •
          </p>
        </div>
        <div class="carousel__slide">
          <img src="img/product-carousel-fish.jpg" alt="Fish" />
          <h3 class="carousel__slide__title">For Fish</h3>
          <p class="carousel__slide__text">
            Food • Feeders • Aquariums • Filters &amp; Pumps • Cleaning • Water Care
            • Decor •
          </p>
        </div>
        <div class="carousel__slide">
          <img src="img/product-carousel-hamster.jpg" alt="Hamster" />
          <h3 class="carousel__slide__title">For Hamsters</h3>
          <p class="carousel__slide__text">
            Food • Soft &amp; Chewy Treats • Litter • Furniture • Collars and
            Leashes • Bowls • Toys • Beds •
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
