<section class="recommendation" id="recommendation">
	<div class="recommendations__part-one">
		<div class="recommendation__caption">
			<h2 class="recommendation__caption-h2">Top Recommendations</h2>
			<img class="bone-image bone-positioning" src="./img/bone_between_dots.svg" alt="a decorative bone" />
			<p class="recommendation__caption-paragraph">
				Shop the best products for your pets with affordable prices only in the
				Happy Paw online store.
			</p>
		</div>
		<ul class="list">
			<li class="list__item" data-id="for__dogs">For Dogs</li>
			<li class="list__item" data-id="for__cats">For Cats</li>
			<li class="list__item" data-id="for__parrots">For Parrots</li>
			<li class="list__item" data-id="for__rabbits">For Rabbits</li>
			<li class="list__item" data-id="for__hamsters">For Hamsters</li>
			<li class="list__item" data-id="for__fish">For Fish</li>
		</ul>
		<div class="block__main">
			<div class="block__row">
				<div class="block__item for__dogs">
					<img src="img/aga_retractable_leash.png" alt="#">
					<p class="filter__item-caption">AGA Retractable Leash</p>
					<p class="filter__item-price">$33,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__dogs">
					<img src="img/doggy_2-bunch_toy.png" alt="#">
					<p class="filter__item-caption">DOGGY 2-Bunch Toy</p>
					<p class="filter__item-price">$5,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__dogs">
					<img src="img/doggy_fun_set.png" alt="#">
					<p class="filter__item-caption">DOGGY Fun Set</p>
					<p class="filter__item-price">$6,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__dogs">
					<img src="img/duna_pillow_bed.png" alt="#">
					<p class="filter__item-caption">DUNA Pillow Bed</p>
					<p class="filter__item-price">$10,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class="block__item for__cats">
					<img src="img/aga_mice_set.png" alt="#">
					<p class="filter__item-caption">AGA Mice Set</p>
					<p class="filter__item-price">$3,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__cats">
					<img src="img/vitalife_2_bowls_set.png" alt="#">
					<p class="filter__item-caption">VITALIFE 2-Bowls Set</p>
					<p class="filter__item-price">$9,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__cats">
					<img src="img/aga_leash_and_collar.png" alt="#">
					<p class="filter__item-caption">AGA Leash & Collar</p>
					<p class="filter__item-price">$13,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__cats">
					<img src="img/duna_gray_bed.png" alt="#">
					<p class="filter__item-caption">DUNA Gray Bed</p>
					<p class="filter__item-price">$25,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class="block__item for__parrots">
					<img src="img/dora_hanging_mirror.png" alt="#">
					<p class="filter__item-caption">DORA Hanging Mirror</p>
					<p class="filter__item-price">$14,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__parrots">
					<img src="img/vetra_hanging_nest.png" alt="#">
					<p class="filter__item-caption">VETRA Hanging Nest</p>
					<p class="filter__item-price">$8,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__parrots">
					<img src="img/dora_wood_swing.png" alt="#">
					<p class="filter__item-caption">DORA Wood Swing</p>
					<p class="filter__item-price">$7,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__parrots">
					<img src="img/opty_wooden_stand.png" alt="#">
					<p class="filter__item-caption">OPTY Wooden Stand</p>
					<p class="filter__item-price">$13,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class="block__item for__rabbits">
					<img src="img/sera_purple_collar.png" alt="#">
					<p class="filter__item-caption">SERA Purple Collar</p>
					<p class="filter__item-price">$2,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__rabbits">
					<img src="img/aga_clinking_toy.png" alt="#">
					<p class="filter__item-caption">AGA Clinking Toy</p>
					<p class="filter__item-price">$2,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__rabbits">
					<img src="img/harno_rabbit_cage.png" alt="#">
					<p class="filter__item-caption">HARNO Rabbit Cage</p>
					<p class="filter__item-price">$60,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__rabbits">
					<img src="img/dora_rabbit_brush.png" alt="#">
					<p class="filter__item-caption">DORA Rabbit Brush</p>
					<p class="filter__item-price">$10,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class="block__item for__hamsters">
					<img src="img/aga_bowl_for_hamsters.png" alt="#">
					<p class="filter__item-caption">AGA Bowl for Hamsters</p>
					<p class="filter__item-price">$2,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__hamsters">
					<img src="img/tisco_toy_wheel.png" alt="#">
					<p class="filter__item-caption">TISCO Toy Wheel</p>
					<p class="filter__item-price">$9,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__hamsters">
					<img src="img/sterco_rainbow_balls.png" alt="#">
					<p class="filter__item-caption">STERCO Rainbow Balls</p>
					<p class="filter__item-price">$3,50</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__hamsters">
					<img src="img/aga_green_cage.png" alt="#">
					<p class="filter__item-caption">AGA Green Cage</p>
					<p class="filter__item-price">$25,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block__row">
				<div class="block__item for__fish">
					<img src="img/ducca_air_pump.png" alt="#">
					<p class="filter__item-caption">DUCCA Air Pump</p>
					<p class="filter__item-price">$42,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__fish">
					<img src="img/tisco_50_liter_aquarium.png" alt="#">
					<p class="filter__item-caption">TISCO 50 Liter Aquarium</p>
					<p class="filter__item-price">$70,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__fish">
					<img src="img/vega_fish_castle.png" alt="#">
					<p class="filter__item-caption">VEGA Fish Castle</p>
					<p class="filter__item-price">$6,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
				<div class="block__item for__fish">
					<img src="img/tisco_landing_net.png" alt="#">
					<p class="filter__item-caption">TISCO Landing Net</p>
					<p class="filter__item-price">$4,00</p>
					<div class="trending__name">
						<a href="#" class="add-btn">
							<span class="add-btn__text">Add to Cart</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="recommendations__part-two">
		<div>
			<img src="img/cat_with_toy.jpg" alt="cat playing with a toy" />
		</div>

		<div>
			<img src="img/dog_food.jpg" alt="dog food photo" />
			<p>Promo</p>
			<p>Best Producers of Food for Dogs</p>
			<a href="#">Discover Now →</a>
			<ul>
				<li>WOOF</li>
				<li>Cat Daily</li>
				<li>Fish Planet</li>
			</ul>
		</div>
	</div>
</section>