<section class="recommendation" id="recommendation">
  <div class="recommendations__part-one">
  <div class="recommendation__caption">
    <h2 class="recommendation__caption-h2">Top Recommendations</h2>
    <img class="bone-image bone-positioning" src="./img/bone_between_dots.svg" alt="a decorative bone" />
    <p class="recommendation__caption-paragraph">
      Shop the best products for your pets with affordable prices only in the
      Happy Paw online store.
    </p>
  </div>
  <div class="recommendation__filter">
    <div class="recommendation__filter-categories">
      <ul class="recommendation-list">
        <li>For Dogs</li>
        <li>For Cats</li>
        <li>For Parrots</li>
        <li>For Rabbits</li>
        <li>For Hamsters</li>
        <li>For Fish</li>
      </ul>
    </div>

    <div>
      <img src="img/doggy_fun_set.jpg" alt="DOGGY Fun Set image" />
      <p><a href="#">DOGGY Fun Set</a></p>
      <p>$6,00</p>
      <a href="#">Add to Cart</a>
    </div>

    <div>
      <img src="img/duna_pillow_bed.jpg" alt="DDUNA Pillow Bed image" />
      <p><a href="#">DDUNA Pillow Bed</a></p>
      <p>$10,00</p>
      <a href="#">Add to Cart</a>
    </div>

    <div>
      <img src="img/aga_retractable_leash.jpg" alt="AGA Retractable Leash image" />
      <p><a href="#">AGA Retractable Leash</a></p>
      <p>$33,00</p>
      <a href="#">Add to Cart</a>
    </div>

    <div>
      <img src="img/doggy_2-bunch_toy.jpg" alt="DOGGY 2-Bunch Toy image" />
      <p><a href="#">DOGGY 2-Bunch Toy</a></p>
      <p>$5,00</p>
      <a href="#">Add to Cart</a>
    </div>
  </div>

</div>

  <div class="recommendations__part-two">
    <div>
      <img src="img/cat_with_toy.jpg" alt="cat playing with a toy" />
    </div>
    
    <div>
      <img src="img/dog_food.jpg" alt="dog food photo" />
      <p>Promo</p>
      <p>Best Producers of Food for Dogs</p>
      <a href="#">Discover Now →</a>
      <ul>
        <li>WOOF</li>
        <li>Cat Daily</li>
        <li>Fish Planet</li>
      </ul>
    </div>
  </div>
</section>