<section class="section" id="best-sellers">
    <div class="container">
        <div class="trending">
            <div class="trending__caption">
                <h1>Trending Products</h1>
                <div class="trending__bone">
                     <img class="examples-section__bone-image bone-image" src="img/bone_between_dots.svg" alt="a decorative bone"/>
                </div>
                <h2>Top-selling items and popular picks by our customers. Check them now!</h2>
            </div>
            <section class="trending__carousel">

                <button class="trending__arrow-left">
                    <img src="icons/arrow_left.svg" alt="Arrow left" />
                </button>

                <div class="trending__cards-wrapper"></div>

                <button class="trending__arrow-right">
                    <img src="icons/arrow_right.svg" alt="Arrow right" />
                </button>
               
            </section>
        </div>
    </div>
</section>