
<div class="trending">
    <div class="trending__caption">
        <h1>Trending Products</h1>
        <!-- SVG -->
        <img width="20" src="./img/bone_between_dots.svg" alt="a decorative bone" />
        <h2>Top-selling items and popular picks by our customers. Check them now!</h2>
    </div>
    <section class="trending__carousel">
        <div>
            <img src="img/dora-metal-pet-brush.png" alt="pet_brush">
            <h3>DORA Metal Pet Brush</h3>
            <h4 class="price">$15,00</h4>
            <div class="wrapper">
                <a href="#" class="add-btn">
                    <span class="add-btn__text">Add to Cart</span>
                </a>
            </div>
        </div>
         
    <div>
        <img src="img/kitten-heaven-set.png" alt="kitten_set">
        <h3>Kitten's Heaven Set</h3>
        <h4 class="price">$12,00</h4>
        <div class="wrapper">
            <a href="#" class="add-btn">
                <span class="add-btn__text">Add to Cart</span>
            </a>
        </div>
    </div>
    <div>
        <img src="img/opty-pet-carrier.png" alt="pet_carrier">
        <h3>OPTY Pet Carrier</h3>
        <h4 class="price">$8,00</h4>
        <div class="wrapper">
            <a href="#" class="add-btn">
                <span class="add-btn__text">Add to Cart</span>
            </a>
        </div>
    </div>
    <div>
        <img src="img/aga-rope-toy.png" alt="rope_toy">
        <h3>AGA Rope Toy</h3>
        <h4 class="price">$5,00</h4>
        <div class="wrapper">
            <a href="#" class="add-btn">
                <span class="add-btn__text">Add to Cart</span>
            </a>
        </div>
    </div>
    <div>
        <img src="img/dora-pet-carrier.png" alt="dora_pet_carrier">
        <h3>DORA Pet Carrier</h3>
        <h4 class="price">$23,00</h4>
        <div class="wrapper">
            <a href="#" class="add-btn">
                <span class="add-btn__text">Add to Cart</span>
            </a>
        </div>
    </div>

    </section>


</div>