.card__title{
    font-weight: bold ;
}
.card .card__fishlink-button{
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
        color: #3C3731;
        font-size: 20px;
        line-height: 20px;
    
}
.ads .card__goods-offer{
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
    color: #3C3731;
    font-size: 48px;
    line-height: 48px;
}
.ads__fish {
    background-image: url:('img/goodsbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* additional styles */
  }
  
  .card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .card__fishlink-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #c08e42; 
    color: white;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  
..pet-food__carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel_goods_slides {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
  }
  
  .carousel_goods_slides img {
    width: 230px;
    height: 123px;
    margin: 0 5px;
  }
  
