.card__title{
    font-weight: bold ;
}
.card .card__fishlink-button{
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
        color: #3C3731;
        font-size: 20px;
        line-height: 20px;
    
}
.ads .card__goods-offer{
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
    color: #3C3731;
    font-size: 48px;
    line-height: 48px;
}

  /* .ads__goods_card {
    background-image: url(../../img/goodsbg.jpg);
    background-size: cover;
    padding: 20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 704px;
    height: 322px;
  } */

  .ads__goods_card {
    background-image: url(../../img/goodsbg.jpg);
    background-size: 704px 322px; /* set the width and height of the background image */
    background-repeat: no-repeat;
    background-position: right center; /* align the background image to the right and center horizontally */
    padding: 20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    height: 400px;
  }
  
  
.ads__fishes_in_water{
  background-image: url(../../img/fishes.jpg);
  background-size: 704px 322px; /* set the width and height of the background image */
  background-repeat: no-repeat;
  background-position: right center; /* align the background image to the right and center horizontally */
  padding: 20px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
  height: 400px;

}
  
  
..pet-food__carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel_goods_slides {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
  }
  
  .carousel_goods_slides img {
    width: 230px;
    height: 123px;
    margin: 0 5px;
  }
  
