.card__title{
    font-weight: bold ;
}
.card .card__fishlink-button{
        font-weight: bold;
        font-family: 'Baloo 2', cursive;
        color: #3C3731;
        font-size: 20px;
        line-height: 20px;
    
}
.ads .card__goods-offer{
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
    color: #3C3731;
    font-size: 48px;
    line-height: 48px;
}

  /* .ads__goods_card {
    background-image: url(../../img/goodsbg.jpg);
    background-size: cover;
    padding: 20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 704px;
    height: 322px;
  } */

  /* .ads__goods_card {
    background-image: url(../../img/goods_blue_bg.jpg);
    background-size: 453px 329px; /* set the width and height of the background image 
    background-repeat: no-repeat;
    background-position: 120px center; 
  
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 453px;
    height: 329px;
  } */
  .ads{
    display: flex;
    
}
  .ads__goods_card {
    background-image: url(../../img/goods_blue_bg.jpg);
    background-size: 500px 420px; 
    background-repeat: no-repeat;
    background-position: left center; /* align the background image to the right and center horizontally */
    position:relative;
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    height: 420px;
  }
  
  
.ads__fishes_in_water{
  background-image: url(../../img/fishes.jpg);
  background-size: 500x 420px; 
  background-repeat: no-repeat;
  background-position: right center; 
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
  height: 420px;
  margin-left: 100px;
  margin-right:100px;
}
  
  
..pet-food__carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel_goods_slides {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
  }
  
  .carousel_goods_slides img {
    width: 230px;
    height: 123px;
    margin: 0 5px;
  }
  
