.header {
    background: url('../../img/header_bg.jpg') center center/cover no-repeat;
    padding-bottom: 150px;
}

.header .header__top-line {
    display: none;
}

.header .header__logo {
    width: 182px;
}

.header .header__navbar {
    display: flex;
    padding: 30px 0;
    margin-bottom: 110px;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .navbar__wrapper {
    display: none;
}

.header .navbar__item {
    position: relative;
    margin: 12px 20px;
    transition: all .2s;
}

.header .navbar__item::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--secondary-text-color);
    bottom: -5px;
    left: 0;
    z-index: 5;
    transition: width .4s;
}

.header .navbar__item:hover::after {
    color: var(--accent-text-color);
    width: 100%;
}


.header .socials {
    display: none;
}

.socials .socials__item {
    margin: 0 7.5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .3s;
}

.socials .socials__item:last-child {
    margin-right: 0;
}

.socials .socials__item:hover {
    scale: 115%;
}

.header .header__burger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--secondary-text-color);
    transition: transform 0.3s ease-out;
    z-index: 10;
}

.header .header__burger span:nth-child(2) {
    margin: 5px 0;
}

.header__burger.active :nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
} 

.header__burger.active :nth-child(2) {
    opacity: 0;
} 

.header__burger.active :nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.burger__menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: -100%;
    background-color: var(--secondary-bgc-color);
    transition: left .3s linear; 
    z-index: 0;
}

.burger__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__menu.active {
    display: block;
    left: 0;
}

.burger__menu .burger__item {
    margin-bottom: 20px;
    font-size: 17px;
    color: var(--third-text-color);
    font-weight: 600;
}

.burger__menu .burger__item:last-child {
    margin-bottom: 30px;
}

.burger__menu .burger__item:hover {
    color: var(--accent-text-color);
}

.burger__menu .burger__working-hours, .burger__contacts-item, .burger__contacts-item a  {
    font-size: 14px;
    color: var(--accent-text-color);
    font-weight: 700;
}

.burger__menu .burger__working-hours, .burger__contacts-item {
    margin-bottom: 20px;
}

.burger__socials {
    display: flex;
}

.burger__socials .socials__item {
    margin: 0 7.5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .3s;
}

.burger__socials .socials__item:last-child {
    margin-right: 0;
}

.burger__socials .socials__item:hover {
    scale: 115%;
}

.header .info .info-title {
    color: var(--secondary-text-color);
    font-size: 48px;
    line-height: 48px;
}

.header .info .info-text {
    margin-top: 35px;
    font-size: 19px;
    color: var(--main-text-color);
}

.header .info .info__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.header .info .info__button {
    margin-bottom: 20px;
    margin-right: 20px;
}



@media (min-width: 768px) {

    .header {
        padding-bottom: 225px;
    }

    .header .header__navbar {
        margin-bottom: 155px;
    }

    .header .info .info-title {
        width: 400px;
        font-size: 70px;
        line-height: 70px;
    }
}

@media (min-width: 991px) {

    .header {
        padding-bottom: 300px;
    }

    .header .header__top-line {
        display: block;
        background: var(--top-line-bg-color)
    }

    .header .top-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        font-size: 15px;
        color: var(--accent-text-color);
        font-weight: 700;
    }

    .top-line .top-line__contacts {
        display: flex;
    }

    .top-line .top-line__contacts-item {
        margin: 0 10px;
    }

    .top-line .top-line__contacts-item a:hover {
        text-decoration: underline;
    }

    .top-line .top-line__contacts-item:last-child {
        margin-right: 0;
    }

    .top-line .top-line__contacts a {
        font-size: 15px;
        color: var(--accent-text-color);
        font-weight: 700;
    }

    .header .header__navbar {
        margin-bottom: 200px;
    }

    .header .navbar .navbar__wrapper {
        display: flex;
    }

    .header .navbar .navbar__wrapper .navbar__item a {
        font-size: 15px;
        color: #6B6B6B;
        font-weight: 700;
    }

    .header .navbar .navbar__wrapper .navbar__item:hover a {
        color: var(--accent-text-color);
    }

    .header .socials {
        display: flex;
    }

    .header .header__burger {
        display: none;
    }

    .header .info .info-title {
        width: 400px;
        font-size: 82px;
        line-height: 82px;
    }
}

@media (min-width: 1280px) {

    .header .info .info-title {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}