.banners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    justify-content: center;
}
.banners__food {
    background: url('../../img/bg_food_for_pets.jpg') 81.41% 58.49% / cover no-repeat;
    height:auto;
    
}
.banners__discount {
    background: url('../../img/bg_cats_dog_stuff.jpg') 81.41% 58.49% / cover no-repeat;
    text-align: center;
}
.banners__discount p{
    margin-top: 50px;
}
.banners__discount a{
    margin-left: auto;
    margin-right: auto;
}
.banners h2{
    color: var(--secondary-text-color);
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 0;
    font-weight: bold;
}
.banners p{
    font-style: Baloo 2;
    font-size: 18px;
}
.banners__food p{
    font-style: Baloo 2;
    font-size: 14px;
    color: var(--accent-text-color);
    font-weight: 700;
}
.card{
    position: relative;  
    margin: 10px 15px;
}

.card img{
    display: inline-block;
    height:auto;
    justify-content: center;
    
}
.colortext{
    color: var(--accent-text-color);
    font-weight: 700;

}
.carousel__slide h3{
    font-style: Baloo 2;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
.carousel__slide__text{
    margin: 5px 5px 5px 5px;
    
}
.products-for-pets{
    font-style: PT Sans;
    font-size: 44px;
}
.products-for-pets h2{
    text-align: center;
    margin-top: 50px;
    font-style: Baloo 2;
    color: var(--secondary-text-color);
    font-size: 44px;
    font-weight: bold;
}
.products-for-pets p{
    font-style: Baloo 2;
    font-size: 16px;
}
.products-for-pets__text {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}
.products-for-pets img{
    border-radius:50%;
    width: 100px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.products-for-pets__carousel {
    position: relative;
    overflow: hidden;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .products-for-pets__carousel__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }
.carousel__slide {
    flex: 0 0 calc(100% - 60px);
    padding: 20px;
    margin: 10px;
    max-width: 260px;
    height: 300px;
    border: solid;
    border-color: var(--top-line-bg-color);
}
  
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 3px;
    cursor: pointer;
  }
.carousel__button img{
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    border: none;
    padding-right: 10px;
    font-size: 10px;
    cursor: pointer;
  }
.carousel__button--prev {
    left: 1px;
  }
  
.carousel__button--next {
    right: 1px;
  }
@media screen and (max-width: 1165px) {
    .products-for-pets__carousel {
    width: 850px;
    }
  }
@media screen and (max-width: 880px) {
    .products-for-pets__carousel {
    width: 560px;
    }
  }
@media screen and (max-width: 590px) {
    .products-for-pets__carousel {
        width: 290px;
    }
    .carousel__button img{
        height: 0;
        width: 0;
    }
    .banners {
        grid-template-columns: 1fr;
    }
    .banners__discount {
        min-height: 300px;
    }
  }