.recommendations__part-one {
	padding: 100px 40px 100px 40px;
  
}

.recommendation__caption {
	text-align: center;
	
}

.recommendation__caption-h2 {
	color: var(--secondary-text-color);
	font-size: 44px;
}

.bone-positioning {
	margin: 0px auto;
}

@media (max-width: 768px) {

.recommendation__caption-h2{
	font-size: 30px;
}
	
}

.recommendation__caption-paragraph {
	font-size: 19px;
	padding: 10px 0px;
}

 .recommendation-list {
	display: flex;
	width: 100%;
	margin: 0px auto;
	overflow-x: auto;
	white-space: nowrap;
}

.recommendation-list li {
	padding: 15px 20px;
	font-size: 17px;
  
}

/* .recommendation__filter-categories {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 50%;
} */


 .filter__item-caption {
	font-size: 18px;
	color: var(--main-text-color);
 }

 .filter__item-price {
	color: var(--accent-text-color);
 }


.list__item{
	display: inline-block;
	padding: 20px;
}

.list{
	text-align: center;
	cursor: pointer;
}
.list__item.active {
	font-weight: bold;
 } 
 
 .block__item {
	padding: 15px;
 }
.block__row {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
 }
 
 .block__item {
	box-sizing: border-box;
	padding: 15px;
	width: calc(50% - 30px);
 }
 
 @media screen and (max-width: 991px) {
	.block__item {
	  width: calc(50% - 15px);
	}
 }
 
 @media screen and (max-width: 767px) {
	.block__item {
	  width: calc(100% - 30px);
	}
 }

 .recommendation__filter-categories {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 50%;
	overflow: auto;
}

.block__main, img {
	padding: 10px 0px;
}


.block__main {
    position: relative;
    top: 20px; 
	
}

.list {
	white-space: nowrap;
	overflow-x: auto;
	/* padding: 0px 20px; */
	border-bottom: 1px solid
  }
  
  @media screen and (min-width: 992px) {
	.block__item {
	  width: calc(25% - 40px);
	}
  }

  .block__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -20px;
  }
  