.testimonials-cliens__carousel {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding-bottom: 90px;
}
.testimonials-cliens__carousel-slide {
    display: flex;
}
.testimonials-clients__title {
    color: var(--secondary-text-color);
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}
.carousel__slide-clients {
    border: 2px solid #ffe6d4;
    margin-top: 20px;
    padding: 45px 20px;
    margin: 0 15px;
}
.carousel__slide-clients img {
    width: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;

}
.examples-section__bone-image {
    margin: 15px auto;
}
.testimonials-clients__subtitle {
    text-align: center;
    color: var(--main-text-color);
    font-size: 18px;
}
.testimonials_client__subtitle {
    color: var(--accent-text-color);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.testimonials-client__name {
    color: var(--secondary-text-color);
    font-family: 'Baloo 2'cursive;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.testimonials__date {
    color: var(--secondary-text-color);
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.testimonials__client_comment {
    color: var(--main-text-color);
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}
.testimonials-cliens__carousel-btn-prev,
.testimonials-cliens__carousel-btn-next {
    background-color: var(--secondary-text-color);
    fill: var(--main-bgc-color);
    border-radius: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 200px;   
}

@media (min-width: 750px) {
    .testimonials-clients__title {
        line-height: 1.2045;
        font-size: 44px;
    }
    .carousel__slide-clients img {
        max-width: 120px;
        max-height: 120px;
    }
}
@media (min-width: 770px) {
   .testimonials-clients__carousel  {
    display: grid;
    grid-template-columns: 1fr 1fr;
   } 
   .testimonials-clients__title {
    line-height: 1.2045;
    font-size: 44px;
}
.carousel__slide-clients img {
    max-width: 120px;
    max-height: 120px;
}
}
@media (min-width: 900px) {
    .testimonials-clients__carousel  {
     grid-template-columns: repeat(2 1fr);
    }   
 }
 .testimonials-clients__carousel {
    padding-bottom: 90px;
    margin-top: 45px;
 }