@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    --main-text-color: #958B7E;
    --secondary-text-color: #3C3731;
    /* h all*/
    --accent-text-color: #ED6435;
    color: var(--main-text-color);
    --main-bgc-color: #fff;
    --secondary-bgc-color: #faf4f2;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 768px) {

    .section {
        padding: 10px 0;
    }

    .container {
        padding: 0 32px;
    }
}

@media (min-width: 992px) {

    .section {
        padding: 12px 0;
    }

    .container {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {

    .section {
        padding: 45px 0;
    }

    .container {
        width: 1200px;
    }
}

@media (min-width: 1280px) {

    .section {
        padding: 50px 0;
    }

    .container {
        padding: 0 15px;
    }
}