* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* body {
} */

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 768px) {

    .container {
        padding: 0 32px;
    }
}

@media (min-width: 992px) {

    .container {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1200px;
    }
}

@media (min-width: 1280px) {

    .container {
        padding: 0 15px;
    }
}